---
import { ClientRouter } from "astro:transitions";
import { Head } from "astro-capo";

const { metaData } = Astro.props;
const {
	title,
	description,
	imageOG = "generic-social-1200x630.png",
	altOG = "Social Media Card",
} = metaData;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);

import "@styles/style.css";
---

<Head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <title>{title}</title>
  <meta name="description" content={description} />
  <link rel="canonical" href={canonicalURL} />
  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content={canonicalURL} />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:image" content={Astro.site + "images/social/" + imageOG} />
  <meta property="og:image:alt" content={altOG} />
  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content={Astro.url} />
  <meta property="twitter:title" content={title} />
  <meta property="twitter:description" content={description} />
  <meta
    property="twitter:image"
    content={Astro.site + "images/social/" + imageOG}
  />

  <!-- Favicon -->
  <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
  <link rel="icon" href="/favicon.ico" sizes="32x32" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
  <link rel="manifest" href="/manifest.webmanifest" />
  <meta name="generator" content={Astro.generator} />
  <link rel="sitemap" type="application/xml" href="/sitemap-index.xml" />
  <ClientRouter />
</Head>
